<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://ouyangjunaoyun.github.io/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://ouyangjunaoyun.github.io/CV/Jun Ouyang_CV.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/academic">Research</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jun.ouyang@mail.utoronto.ca">email</a></li>
	        		<li><a href="https://ouyangjunaoyun.github.io/">ouyangjunaoyun.github.io/</a></li>
				</ul>
			</footer>
		</body>
	</html>
